<div class="col-xs-12">
  <form id='builder' class="form" action="/model/create" method="post">
    <div class="form-group">
      <label for="name">Model Name</label>
      <input type="text" name="name" class='form-control' id='name'>
    </div>
    <div class="form-group">
      <label for="city">Model City</label>
      <input type="text" name="city" id='city' class='form-control' value="">
    </div>
    <div class="form-group">
      <label for="long">Model Longditude</label>
      <input type="text" name="long" id='long' class='form-control' value="">
    </div>
    <div class="form-group">
      <label for="lat">Model Latitude</label>
      <input type="text" name="lat" id='lat' class='form-control' value="">
    </div>
    <div class="form-group">
      <label for="crimeCount">Crime</label>
      <input type="text" name="crime" id='crime' class='form-control crimeName' value="">
    </div>
    <div class="form-group">
      <label for="crimeCount">Crime Count</label>
      <input type="number" name="crimeCount" id='crimeCount' class='form-control crimeCount' value="">
    </div>
    <button type="button" class='btn btn-primary pull-left' id='addCrime'>Add Crime</button>
    <button type="button" class='btn btn-primary pull-left' id='saveModel'>Save City</button>
    <button type="button" class='btn btn-primary pull-right' id='buildModel'>Build Model</button>
  </form>
</div>
